body{
    overflow: hidden;
    margin: 0;
    background-color: #e9ebed;
}

/* Navigation Bar */
.nav-header {
    background-color: #006092;
    display: flex;
    height: 50px;
    padding-left: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}  
.nav-header>.nav-title {
    font-family: Copperplate Gothic;
    font-size: 25px;
    padding-top: 5px;
} 
.nav-header>.nav-title>a {
    color: #e9ebed;
    text-decoration: none;
}  
.nav-links>ul>li {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 50px;
    padding-top: 3px;
    font-family: Copperplate Gothic;
} 
.nav-links>ul>li>a {
    color: #e9ebed;
    text-decoration: none;
}
.navItems::after {
    border-bottom: solid 3px #e9ebed;
    content: "";
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}  
.navItems:hover::after {
    transform: scaleX(1);
}

.nav-title>a>img{
    position: absolute;
    height: 80px;
    margin-top: -13px;
    margin-left: -38px;
}

/* Sign In Button */
.signin button{
    position: absolute;
    padding: 12px 20px;
    margin-top: 4px;
    margin-left: 1100px;
    color: #006092;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
.signin button:hover{
    color: #006092;
    cursor: pointer;
}
.signin a{
    text-decoration: none;
    color: #e9ebed;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
#signin{
    background-color: #e9ebed;
    border: 2px solid #1fc4da;
}
#signin:hover{
    background-color: lightgreen;
    border: 2px solid lightgreen;
    box-shadow: 0 8px 8px 0 #006092;
    transition: all .8s;
}
#signin a:hover{
    color: #006092;
}

/* Sign Up Button */
.signup button{
    position: absolute;
    padding: 12px 20px;
    margin-top: 4px;
    margin-left: 1195px;
    color: #006092;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
.signup button:hover{
    color: #006092;
    cursor: pointer;
}
.signup a{
    text-decoration: none;
    color: #e9ebed;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
#signup{
    background-color: #e9ebed;
    border: 2px solid #1fc4da;
}
#signup:hover{
    background-color: lightgreen;
    border: 2px solid lightgreen;
    box-shadow: 0 8px 8px 0 #006092;
    transition: all .8s;
}
#signup a:hover{
    color: #006092;
}

/* Contact Details */
.contact{
    position: absolute;
    margin-left: 950px;
    margin-top: 60px;
}
.contact a{
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans";
    color: #e9ebed;
}
.contact span{
    color: #e9ebed;
    font-family: "Comic Sans MS","Comic Sans";
}
.contact i{
    color: #1fc4da;
}
.contact h3, u{
    font-family: Copperplate Gothic;
    color: #1fc4da;
}
.contact li{
    color: #e9ebed;
    font-family: "Comic Sans MS", "Comic Sans";
    list-style: none;
    margin-left: -40px;
}
.contact h4{
    color: #e9ebed;
    font-family: Copperplate Gothic;
    font-size: 15px;
    margin-top: 40px;
    margin-left: -41px;
    border: 3px solid #1fc4da;
    padding: 4px;
}
.contact h4 u {
    color: #e9ebed;
}

/* White Container */
.box{
    position: absolute;
    height: 480px;
    width: 400px;
    background: #006092;
    box-shadow: 20px 20px 35px #006092;
    margin-top: 70px;
    margin-left: 900px;
}

/* Footer */
footer{
    background-color: #006092;
    bottom: 0;
    color: #e9ebed;
    font-size: 18px;
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    font-family: "Comic Sans MS", "Comic Sans";
} 
footer a{
    color: #e9ebed;
    font-size: 16px;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans";
}
.social{
    float: right;
    padding-right: 90px;
}