body{
    overflow: hidden;
    margin: 0;
    background-color: #e9ebed;
}

/* Navigation Bar */
.nav-header {
    background-color: #006092;
    display: flex;
    height: 50px;
    padding-left: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}  
.nav-header>.nav-title {
    font-family: Copperplate Gothic;
    font-size: 25px;
    padding-top: 5px;
} 
.nav-header>.nav-title>a {
    color: #e9ebed;
    text-decoration: none;
}  
.nav-links>ul>li {
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 50px;
    padding-top: 3px;
    font-family: Copperplate Gothic;
} 
.nav-links>ul>li>a {
    color: #e9ebed;
    text-decoration: none;
}
.navItems::after {
    border-bottom: solid 3px #e9ebed;
    content: "";
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}  
.navItems:hover::after {
    transform: scaleX(1);
}

.nav-title>a>img{
    position: absolute;
    height: 80px;
    margin-top: -13px;
    margin-left: -38px;
}

/* Sign In Button */
.signin button{
    position: absolute;
    padding: 12px 20px;
    margin-top: 4px;
    margin-left: 1100px;
    color: #006092;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
.signin button:hover{
    color: #006092;
    cursor: pointer;
}
.signin a{
    text-decoration: none;
    color: #e9ebed;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
#signin{
    background-color: #e9ebed;
    border: 2px solid #1fc4da;
}
#signin:hover{
    background-color: lightgreen;
    border: 2px solid lightgreen;
    box-shadow: 0 8px 8px 0 #006092;
    transition: all .8s;
}
#signin a:hover{
    color: #006092;
}

/* Sign Up Button */
.signup button{
    position: absolute;
    padding: 12px 20px;
    margin-top: 4px;
    margin-left: 1195px;
    color: #006092;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
.signup button:hover{
    color: #006092;
    cursor: pointer;
}
.signup a{
    text-decoration: none;
    color: #e9ebed;
    font-family: Copperplate Gothic;
    font-weight: bolder;
}
#signup{
    background-color: #e9ebed;
    border: 2px solid #1fc4da;
}
#signup:hover{
    background-color: lightgreen;
    border: 2px solid lightgreen;
    box-shadow: 0 8px 8px 0 #006092;
    transition: all .8s;
}
#signup a:hover{
    color: #006092;
}

/* Enquire Us */
.enquire-main {
    position: absolute;
    margin-top: 73px;
    margin-left: 190px;
    background-color: #1fc4da;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 10px 10px 15px #71d5e2;
}
  
.enquire-content {
    font-family: Copperplate Gothic;
    font-size: 15px;
}
  
.enquire-head u{
    color: #e9ebed;
    font-family: Copperplate Gothic;
    font-size: 20px;
    margin-left: 10px;
}
input{
    color: #006092;
}
input:focus{
    outline: none;
}
label {
    font-size: 13px;
    font-weight: bold;
    padding-left: 13px;
    color: #006092;
}

/* Name & Email ID Field */
#name, #email{
    font-family: "Comic Sans MS","Comic Sans";
    width: 42%;
    border:none;
    color: #006092;
}

/* Phone Number Field */
#code{
    font-family: "Comic Sans MS", "Comic Sans";
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.6);
    color: gray;
    border: none;
    margin-left: 10px;
    border-radius: 2px;
}
#phone{
    border: none;
    width: 177px;
}

/* Destination Field */
.destination{
    position: absolute;
    margin-left: 320px;
    margin-top: -228px;
    width: 269px;
}
#citi{
    width: 100%;
    border: none;
    font-family: "Comic Sans Ms","Comic Sans";
}
input[list] {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 13px;
    height: 30px;
    margin: 10px;
    padding: 5px;
}

/* Travellers Field*/
.number{
    position: absolute;
    margin-left: 320px;
    margin-top: -152px;
}
#adult, #children{
    border: none;
    width: 115px;
    font-family: "Comic Sans Ms","Comic Sans";
}

/* Dates Field */
.dates{
    position: absolute;
    margin-left: 320px;
    margin-top: -75px;
}
#from, #to{
    border: none;
    width: 117px;
    font-family: "Comic Sans Ms","Comic Sans";
    color: gray;
}

/* Query Field */
#queries{
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "Comic Sans Ms","Comic Sans";
    width: 591px;
    border-radius: 3px;
    font-size: 13px;
    margin: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 10px;
}
#queries:focus{
    outline: none;
}
input:required {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    border: none;
    font-size: 13px;
    height: 30px;
    margin: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

/* Notification Field */
#tick1, #tick2{
    font-family: Copperplate Gothic;
    font-size: 14px;
    font-weight: 600;
    color: #006092;
}
input[type="checkbox"] {
    border: none;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    width: 20px;
}

/* Submit Button */
.enquire-main button {
    position: absolute;
    background-color: #e9ebed;
    color: #006092;
    border: 2px solid #e9ebed;
    border-radius: 3px;
    font-family: Copperplate Gothic;
    font-weight: bolder;
    padding: 14px 20px;
    margin-top: -44px;
    margin-left: 429px;
    border: none;
    cursor: pointer;
    width: 28%;
}  
.enquire-main button:hover {
    opacity: 0.8;
}
  
/* Success page styling */
.success-main {
    margin-top: 250px;
    text-align: center;
}

/* Footer */
footer{
    background-color: #006092;
    bottom: 0;
    color: #e9ebed;
    font-size: 18px;
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    font-family: "Comic Sans MS", "Comic Sans";
} 
footer a{
    color: #e9ebed;
    font-size: 16px;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans";
}
.social{
    float: right;
    padding-right: 90px;
}